@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

p{
    font-size: 16px;
}

html{
    /* ページの高さを最大にする */
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:#e5e6f0;
    margin-left:10%;
    margin-right: 10%;
}
header{
}

#header_title {
    font-size: 50px;
}
nav{
    display: flex;
}
.menu-ber{
    text-align: center;
}

main{
    flex: auto;
}

#header_title{
    font-family: 'Amatic SC', cursive;
}
.flex-item ul li{
    text-indent: -2rem;
    list-style: none;
}
.profile-table{
    margin-left:20px;
}
/* footerの設定 */
footer{
    /*margin-top:auto;*/
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background-color: rgb(59, 54, 54);
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
ul.footer-menu li {
    display: inline;
}
footer ul a{
    color:inherit;
    text-decoration:none;
}
#skill-title2{
    margin-top:100px;
}

/*PC用*/
@media screen and (min-width:1290px) {
    
    /* メインのコンテンツをFlexBox表示 */
    .container-flex{
        display: flex;
        flex-flow: wrap;
        justify-content:space-around;
    }
    .flex-item{
        display: block;
        width: calc(100% / 5);
        padding:10px;
        margin: 5px;
        border: 1px solid;
    }
    .flex-item img{
        max-width: 100%;
        height: auto;
    }

    /*レスポンシブ対応PCサイズの場合は通常のメニューバー*/
    nav{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 65px;
        background-color: rgb(59, 54, 54);
        box-sizing: border-box;
        position: relative;
    }
    nav img{
        width: auto;
        height: 65px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    nav ul{
        margin-right:auto;
        margin-left:auto;
        display:flex;
        padding: 0%;
    }

    nav li{
        font-size: 20px;
        list-style: none;
    }

    /*==================================================
    共通　横並びのための設定
    ===================================*/

    .gnavi{
        display: flex;
        flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
        list-style: none;
    }

    .gnavi li a{
        display: block;
        padding:0px 30px;
        text-decoration: none;
        color: #fff;
    }

    .gnavi li{
        margin-bottom:20px;
    }

    /*==================================================
    　5-3-1 中心から外に線が伸びる（下部）
    ===================================*/

    .gnavi li a{
        /*線の基点とするためrelativeを指定*/
        position: relative;
    }

    .gnavi li.current a,
    .gnavi li a:hover{
        color:#a25004;
    }

    .gnavi li a::after {
        content: '';
        /*絶対配置で線の位置を決める*/
        position: absolute;
        bottom: 0;
        left: 10%;
        /*線の形状*/
        width: 80%;
        height: 2px;
        background:#a25004;
        /*アニメーションの指定*/
        transition: all .3s;
        transform: scale(0, 1);/*X方向0、Y方向1*/
        transform-origin: center top;/*上部中央基点*/
    }

    /*現在地とhoverの設定*/
    .gnavi li.current a::after,
    .gnavi li a:hover::after {
        transform: scale(1, 1);/*X方向にスケール拡大*/
    }

    /*ハンバーガーmenuを非表示*/
    .openbtn4{display: none;}



}
/*タブレット用*/
@media screen and (max-width: 1290px){
    /* 1024以下のページへのレスポンシブ */
    nav{
        display: flex;
        justify-content: center;
        width: 100%;
        hight:auto;
        box-sizing: border-box;
        position: relative;
    }
    nav img{
        width: auto;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    /*レスポンシブ対応予定 menuをハンバーガーmenuにする*/
    .title_logo{
        width: 40%;

    }
    /* メインのコンテンツをFlexBox表示 */
    .container-flex{
        display: flex;
        overflow-x: auto;
    }
    .flex-item{
        display: flex;
        display: block;
        min-width: 45%;
        padding: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        border: 1px solid;
    }
    .flex-item img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
    }

    /*=============menuの表示変更===============*/
    .gnavi{
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 99;
        width: 90%; /* 画面幅に対して */
        height: 100%; /* 画面の高さに対して */
        background-color: #f2f1f1;
        transform: translateX(-110%);
    }

    #check:checked ~ nav {
        transform: translateX(0%);
    }
    /*==================================================
    　5-2-4 MENUがCLOSEに
    ===================================*/

    /*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
    .openbtn4{
        position: relative;/*ボタン内側の基点となるためrelativeを指定*/
        background:#c07820;
        cursor: pointer;
        width: 50px;
        height:50px;
        border-radius: 5px;
    }
    
    /*ボタン内側*/
    .openbtn4 span{

        display: inline-block;
        transition: all .4s;/*アニメーションの設定*/
        position: absolute;
        left: 14px;
        height: 2px;
        border-radius: 5px;
        background: #fff;
        width: 45%;
    }

    .openbtn4 span:nth-of-type(1) {
        top:13px; 
    }
    .openbtn4 span:nth-of-type(2) {
        top:19px;
    }
    .openbtn4 span:nth-of-type(3) {
        top:25px;
    }

    .openbtn4 span:nth-of-type(3)::after {
        content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
        position: absolute;
        top:5px;
        left:-2px;
        color: #fff;
        font-size: 0.6rem;
        text-transform: uppercase;
    }
    
    /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
    
    .openbtn4.active span:nth-of-type(1) {
        top: 14px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }
    
    .openbtn4.active span:nth-of-type(2) {
        opacity: 0;
    }
    
    .openbtn4.active span:nth-of-type(3){
        top: 26px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }
    
    .openbtn4.active span:nth-of-type(3)::after {
        content:"Close";/*3つ目の要素のafterにClose表示を指定*/
        transform: translateY(0) rotate(-45deg);
        top:5px;
        left:4px;
    }

}
/*スマホ用*/
@media screen and (max-width: 520px){
    /* 1024以下のページへのレスポンシブ */
    /*レスポンシブ対応予定 menuをハンバーガーmenuにする*/
    .title_logo{
        width: 40%;
        
    }
    /* メインのコンテンツをFlexBox表示 */
    .container-flex{
        display: flex;
        overflow-x: auto;
    }
    .flex-item{
        display: flex;
        display: block;
        min-width: 80%;
        padding: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        border: 1px solid;
    }
    .flex-item img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 90%;
        height: auto;
    }
}